AZURE_VOICELIVE_ENDPOINT="XXXX"
AZURE_VOICELIVE_API_KEY="XXXX"
AZURE_VOICELIVE_AGENT_ID="XXXX"
AZURE_VOICELIVE_PROJECT_NAME="XXXX"
AZURE_VOICELIVE_API_VERSION="2025-10-01"
AZURE_VOICELIVE_MODEL="gpt-5-mini"
AZURE_VOICELIVE_VOICE="en-US-AvaNeural"
AZURE_VOICELIVE_TRANSCRIPTION_MODEL="azure-speech"
VOICE_CAPTURE_SOURCE="browser"
AZURE_ENV_NAME="XXXX"
AZURE_LOCATION="XXXX"
AZURE_SUBSCRIPTION_ID="XXXX"
AZURE_EXISTING_AIPROJECT_ENDPOINT="XXXX"
AZURE_EXISTING_AIPROJECT_RESOURCE_ID="XXXX"
AZD_ALLOW_NON_EMPTY_FOLDER=true
